@charset "utf-8";

:root {
    --app-border-radius:6px;
    --app-grey-bg:#f3f4f5;
    --app-bg-dark:#1a1c24;
}

html{
    color: #007bff;
}

.container {
  width: min(100% - 40px,1200px);
  margin-inline: auto;   
}

header {
    background-color: #252335;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    
}

.flexbox h1 {
    line-height: 56px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.flexbox p {
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
}



footer {
    background-color: #443f3f;
    margin-top: 60px;
    line-height: 60px;
    font-size: 17px;
    text-align: center;
}


section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    grid-gap:100px;
}

section div h2 {
  padding: 10px 5px ;
  width: 300px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

section div > p{
  padding: 3px 5px ;
  width: 300px; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.new,.loading{
    width: min(100% - 40px,1200px);
    margin-inline: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

  form input {
    position: relative;
    display: block;
    margin-top: 15px;
  }

  form p {
    position: absolute;
  }
  
  form > input {
    width: 320px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 0px 0px 0px 18px;
    font-size: 18px;
    font-weight: 400;
    transition: border-color 0.25s ease-in-out;
    margin-top: 30px;
  }
  

  form .flex {
    justify-content: space-between;
  }
  
  form input[type=submit] {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.5px;
  }

  form input[type=submit] + input[type=submit]{
    border: 2.5px solid #007bff;
    color: #fff;
    background-color: transparent;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.5px;
  }
  
  form input[type=submit]:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  }

  
  form input[type=submit]:hover {background-color: #064f9e;}
  form input[type=submit] + input[type=submit]:hover {background-color: #064f9e;}

  .sort {
    display: flex;
    margin-left: 825px;
    position: relative;
    padding-bottom: 25px;
    
  }
  .add-button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    width: 120px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;

  }

  
.sort-button {
    border: 2.5px solid #007bff;
    color: #fff;
    background-color: transparent;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.5px;
  }
  .active-button {
    border: 2.5px solid #007bff;
    color: #fff;
    background-color: transparent;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    letter-spacing: 0.5px;
  }
  
  .add-button:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  }

  .add-button:hover {background-color: #064f9e;}

  .sort-button:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  }

  .sort-button:hover {background-color: #064f9e;}

  .loading {
    font-size: 30px;
  }

  .detail h3{
    margin-top: 50px;
    padding: 10px 5px ;
    max-height: 80px;
    width: 300px; 
  }
  .detail figure {
    padding: 10px 10px ;
    margin-top: 50px;
  }
  
  .info > p{
    font-weight: 600;
    padding: 3px 5px ;
    width: 300px; 
  }
  
  .info input {
    margin-left: 5px;
    margin-top: 20px;
  }

  .detail {
    width: min(100% - 180px,1200px);
    margin-inline: auto;
    display: flex;
    height: 100%;
    justify-content: center;
    
  }
  .notfound {
    width: min(100% - 40px,1200px);
    margin-inline: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .notfound div h1 {
    font-size: 55px;
  }
  

  

 